{% extends '/core/base.html' %}

{% block title %}Settings{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" />
{% endblock %}


{% block contents %} 
<div class="container pd-x-0">
  <nav aria-label="breadcrumb" class="mg-b-10">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
  </nav>
  <h3 class="font-weight-bold text-white">Settings</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="bg-tertiary rounded-10 p-3">
        <form action="" class="form-control__primary">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="d-block">Label</label>
                <input type="text" class="form-control" placeholder="placeholder">
              </div>
              <div class="form-group">
                <label for="" class="d-block">Label</label>
                <input type="text" class="form-control" placeholder="placeholder">
              </div>
              <div class="form-group">
                <label for="" class="d-block">Label</label>
                <input type="text" class="form-control" placeholder="placeholder">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="" class="d-block">Label</label>
                <textarea class="form-control" style="resize: none;" placeholder="placeholder" name="" id="" cols="30" rows="9"></textarea>
              </div>
              <div class="row justify-content-end">
                <div class="col-lg-4">
                  <button type="submit" class="font-weight-bold btn btn-block btn-primary">Action</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-12">
      <div class="mt-3">
        <span class="d-block op-5">Label</span>
        <div class="bg-tertiary p-4 rounded-10 mt-2">
          <table id="mainTable" class="table-main">
            <thead>
              <th>Label</th>
              <th>Label</th>
              <th>Label</th>
              <th>Label</th>
              <th>Label</th>
            </thead>
            <tbody>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
              <tr>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
                <td>Value</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->
</div>
{% endblock %}

{% block scripts %}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script>
  $('#mainTable').DataTable({
    language: {
      searchPlaceholder: 'Search...',
      sSearch: '',
      lengthMenu: '_MENU_ items/page',
    }
  });
</script>
{% endblock %}